<h1>Places I've been</h1> <!-- need to figure out how to make this prettier-->
 
 <ul>
   <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
   <% end %>

</ul>